body{
    display: inline;
    text-align: center;
    justify-content: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
p, label, a{
    font-size: 24px;
}
.contact-main{
    margin: 2rem;
}