.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.header-main h1,
.header-main h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0;
}

img {
    width: 60%;      
    max-width: 400px; 
    height: auto;
    display: block;
    margin: 0 auto; 
}

.image-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-main {
    text-align: left;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 auto;
}
@media (min-width: 1024px) {
    img{
        float: left;
        width: 250px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}
