
/* General */
body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.title-projects{
    display: block;
    text-align: center;
    margin-top: 20px;
    width: auto;
}
/* Main project cards mobile first */
.grid-projects{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    justify-items: center;
}
.project-card img{
    width: 100%;
    height: auto;
    border-radius: 6px;
}
.project-card{
    width: 90%;
    max-width: 350px;
}
.item-details{
    text-align: center;
    justify-items: center;
}
/* Modal */
.project-modal{
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    padding: 15px;
    background-color: #1c0281;
    border: 4px solid black;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 8px;
}
.modal-images{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}
.project-modal-image{
    width: 100%;
    height: auto;
}
/* Buttons */
.btn-close{
    border-style: none;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 10px 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px; 
}

/* Tablet and up */
@media (min-width: 768px){
    .grid-projects{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .project-card{
        max-width: 400px;
    }
    
    .modal-images{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
    .project-modal-image{
        height: auto;
        min-height: 250px;
        min-width: 300px;
        object-fit: cover;
    }
}

/* Desktop and up */
@media (min-width: 1024px){
    .grid-projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        align-items: center;
        justify-items: center;
    }
    .project-card img{
        width: 400px;
        height: 250px;
    }
    .project-card{
        width: 400px;
        height: fit-content;
    }
    .project-modal{
        width: 60%;
        left: 20%;
        top: 10%;
    }
}