body{
    background-color: rgb(2, 2, 2) !important;
    color: rgb(224, 223, 223) !important;
}
button{
    background-color: #1c0281;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 4px !important;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}
button:hover{
    background-color: #1c0381;
    color: white;
    cursor: pointer;
}
hr{
    border: none;
    border-top: 2px solid white !important;
    opacity: 1;
}